{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
  {% if schema_is_locked %}
    <div class="messagelist">
      <div class="warning">
        <strong>Accreditation lock active.</strong>
        This metadata schema is immutable.
        <br><br>
        <a
          href="{% url 'admin:metadata_schema_create_revision' original.pk %}"
          class="button default"
          style="margin-top:6px;"
        >
          Create new revision
        </a>
      </div>
    </div>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}
  {% if not schema_is_locked %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block submit_buttons_top %}
  {% if not schema_is_locked %}
    {{ block.super }}
  {% endif %}
{% endblock %}
