# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# ---- Virtual environments ----
.venv/
env/
ENV/
venv/

# ---- Django ----
db.sqlite3
/media/
/staticfiles/
/static/
/logs/

# Celery / background tasks
celerybeat-schedule
celerybeat.pid

# ---- Environment & config ----
.env
*.local

# ---- Runtime / local artifacts ----
cookies.txt
nano
h origin*
*.log

# ---- IDEs & editors ----
.vscode/
.idea/
*.swp
*.swo
*.tmp

# ---- OS files ----
.DS_Store
Thumbs.db
