{#
REQUIRES:
- field
- field_code
- field_value
- errors
- schema_error
#}

<div class="form-check mb-3">
  <input
    type="checkbox"
    id="{{ field_code }}"
    name="{{ field_code }}"
    class="form-check-input {% if errors or schema_error %}is-invalid{% endif %}"
    {% if field_value %}checked{% endif %}
  >

  <label class="form-check-label" for="{{ field_code }}">
    {{ field.label }}
    {% if field.required %}<span class="text-danger">*</span>{% endif %}
  </label>

  {% if errors %}
    <div class="invalid-feedback d-block">
      {{ errors|join:", " }}
    </div>
  {% elif schema_error %}
    <div class="invalid-feedback d-block">
      {{ schema_error|join:", " }}
    </div>
  {% endif %}
</div>
